.header {
  text-align: center;
  background-color: #aaa;
  color: #fff;
  font-family: "Josefin Sans";
  margin-bottom: 15px;
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
